# Fichiers de build générés par Android/Gradle
*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Dossiers de build dans les modules
/app/build/

# Fichiers Kotlin générés
.kotlin/

# Fichiers temporaires système
Thumbs.db
