name: Tests Kotlin

on:
  push:
    branches: [ master , dev ]
  pull_request:
    branches: [ master , dev ]

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      checks: write
      pull-requests: write

    steps:
    - name: Checkout du code
      uses: actions/checkout@v4

    - name: Configuration JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: gradle

    - name: Rendre gradlew exécutable
      run: chmod +x ./gradlew

    - name: Compilation du projet
      run: ./gradlew build --no-daemon

    - name: Exécution des tests
      run: ./gradlew test --no-daemon

    - name: Publication des résultats de tests
      uses: EnricoMi/publish-unit-test-result-action@v2
      if: always()
      with:
        files: |
          build/test-results/test/*.xml

